.content {
    width:90%;
    padding: 20px;
}

img {
    max-width:100%;
    height:auto;
}

body {
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #363b3f;
    font-size:30px;
}

a:visited {
    color:rgb(0, 221, 255);
}

a {
    color:rgb(0, 221, 255);
}

h2 {
    color:#00bae4;
    font-size:20px;
}

.quote {
    background-color:rgba(170, 170, 255, 0.32);
    border-radius: 20px;
    padding:10px;
}

p {
    font-size:18px;
    color:white;
}

li {
    font-size:15px;
    color:white;
}

blockquote {
    color:white;
    font-size:20px;
}

em {
    color:rgb(182, 182, 182);
}

hr {
    width:70%;
}

.define {
    list-style-type: none;
}

.headerclass {
    font-family:'Courier New', Courier, monospace;
    margin:0;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color:rgb(12, 12, 12);
    overflow:hidden;
    font-size: 45%;
    height:120px;
    font-weight:lighter;
    user-select:none;
    box-shadow: 0px 0px 0px 2.5px rgb(80, 80, 80);
}

.top {
    display:flex;
    background-color: black;
    width:100%;
    user-select:none;
}

.topitems {
    flex-grow:14;
}

.topleft {
    display:flex;
    flex-grow:1;
    justify-content:center;
    background-color: black;
    transition-duration:0.4s;
}

.topleft:hover {
    background-color: rgb(56, 56, 56);
}

.topright {
    display:flex;
    flex-grow:1;
    justify-content:center;
    background-color:black;
    transition-duration:0.4s;
}

.topright:hover {
    background-color:rgb(212, 0, 0);
}

.topcontains {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    display:flex;
    background-color: black;
    flex-grow: 1;
}

.topcontains img {
    max-width:30px;
    padding-left:15px;
}

.topcontains p {
    padding-left:10px;
    font-weight:normal;
}

button {
    background-color:#59e1ff;
    border:none;
    color:rgb(255, 255, 255);
    font-size: 50px;
    transition-duration:0.4s;
}

button:hover {
    background-color:#6ccb00;
}

footer img {
    background-color:rgba(170, 170, 255, 0.32);
    border-radius: 50px;
    max-width:100%;
    height:auto;
}